<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
 <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" /> 
<title>Index page</title>
</head>
<body>

    <h1>Items</h1>
    <table class="table table-striped">
        <tr>
            <th>Header</th>
            <th>Description</th>
        </tr>
        <tr th:each = "item : ${items}">
            <td th:text="${item.header}"></td>
            <td th:text="${item.description}"></td>
        </tr>
        <tr th:each = "APOD : ${apods}">
            <td th:text="${APOD.title}"></td>
            <td th:text="${APOD.explanation}"></td>
            <td th:text="${APOD.media_type}"></td>
        </tr>

    </table>

</body>
</html>